<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @job.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @job.description.html_safe() %>
</p>

<ul>
  <% @job.skills.each do |skill| %>
  <li><%= skill.name %></li>
  <% end %>
</ul>

<p>
  <strong>Company:</strong>
  <%= @job.company %>
</p>

<p>
  <strong>Salary:</strong>
  <%= @job.salary %>
</p>

<p>
  <strong>Url:</strong>
  <%= @job.url %>
</p>

<%= link_to 'Edit', edit_job_path(@job), 'data-no-turbolink' => true %> |
<%= link_to 'Back', jobs_path %>
